*{
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
}

body{
    background-color: #343f6a;
}

header{
    background-color:#303030 ;
    height: 10vh;
    width: 100%;
}

nav a{
    padding-top: 3vh;
    margin-right: 10px;
}